@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: normal;
    font-weight: lighter;
}

h1{
    text-align: center;
    border-radius: 5px;
    background-color: green;
    width: 200px;
    height: 200px;
    padding: 100px;
    margin: 10px;
    outline: auto;
}

#caixa{
    color: white;
}